{% extends "base.html" %}
{% block meta %}
    <title>University Courses - {{ name }}</title>
{% endblock meta %}
{% block content %}

    <main>
        <p class="hero-kicker"> 1'ST SEMESTER </p>
        <p class="hero-kicker"> 2'ND SEMESTER </p>
        <p class="hero-kicker"> 3'RD SEMESTER </p>
        <p class="hero-kicker"> 4'TH SEMESTER </p>
        <p class="hero-kicker"> 5'TH SEMESTER </p>
        <p class="hero-kicker"> 6'TH SEMESTER </p>
        <p class="hero-kicker"> 7'TH SEMESTER </p>
        <p class="hero-kicker"> 8'TH SEMESTER </p>
        <p class="hero-kicker"> ADDITION COURSES </p>
    </main>


{% endblock content %}

